// Change to your own azure environment
subscription_id = "xxxxx-xxxx-xxxx-xxxx-xxxxx"
client_id       = "xxxxx-xxxx-xxxx-xxxx-xxxxx"
client_certificate_path   = "/home/user/.ssh/tf-service-principal.pfx"
tenant_id       = "xxxxx-xxxx-xxxx-xxxx-xxxxx"
size   = "Standard_F4"
client_size   = "Standard_B1s"
license_type = "payg"
location = "australiaeast"
rgname = "azhubsdn-rg"
vnetname = "azhubsdn-vnet"
availability_zone = false
publicsubnetname = "ext-subnet"
private1subnetname = "int-subnet"
private2subnetname = "workload1-subnet"
private3subnetname = "workload2-subnet"
activename = "azhubsdn-fgt1"
passivename = "azhubsdn-fgt2"
sdnrolename = "azhubsdn-sdn-connector-role"
client1name = "azhubsdn-client1"
client2name = "azhubsdn-client2"
fgtversion = "7.2.1"
adminusername = "fortiuser"
adminpassword = "SecurityFabric!"
adminsport = "8443"
sshport = "2222"
vnetcidr = "172.30.0.0/16"
publiccidr  = "172.30.0.0/24"
private1cidr = "172.30.1.0/24"
private2cidr = "172.30.2.0/24"
private3cidr = "172.30.3.0/24"
hamgmtcidr = "172.30.255.0/24"
activeport1 = "172.30.255.10"
activeport1mask = "255.255.255.0"
activeport2 = "172.30.0.10"
activeport2mask = "255.255.255.0"
activeport3 = "172.30.1.10"
activeport3mask = "255.255.255.0"
passiveport1  = "172.30.255.11"
passiveport1mask = "255.255.255.0"
passiveport2 = "172.30.0.11"
passiveport2mask = "255.255.255.0"
passiveport3 = "172.30.1.11"
passiveport3mask = "255.255.255.0"
port1gateway = "172.30.255.1"
port2gateway = "172.30.0.1"
port3gateway = "172.30.1.1"
intlbaddress = "172.30.1.4"
bootstrap-active = "config-active.conf"
bootstrap-passive = "config-passive.conf"
fgtlicense  = ""
fgtlicense2  = ""
fgtflextoken  = ""
fgtflextoken2  = ""
tags = {    
    Name               = "user"
    Environment        = "dev"
}

publicnsg = {
  i100 = {
  name                       = "ingress"
  priority                   = 100
  direction                  = "Inbound"
  access                     = "Allow"
  protocol                   = "*"
  source_port_range          = "*"
  destination_port_range     = "*"
  source_address_prefix      = "*"
  destination_address_prefix = "*"
  }
  e100 = {
  name                       = "egress"
  priority                   = 100
  direction                  = "Outbound"
  access                     = "Allow"
  protocol                   = "*"
  source_port_range          = "*"
  destination_port_range     = "*"
  source_address_prefix      = "*"
  destination_address_prefix = "*"
  }
}

privatensg = {
  i100 = {
  name                       = "ingress"
  priority                   = 100
  direction                  = "Inbound"
  access                     = "Allow"
  protocol                   = "*"
  source_port_range          = "*"
  destination_port_range     = "*"
  source_address_prefix      = "*"
  destination_address_prefix = "*"
  }
  e100 = {
  name                       = "egress"
  priority                   = 100
  direction                  = "Outbound"
  access                     = "Allow"
  protocol                   = "*"
  source_port_range          = "*"
  destination_port_range     = "*"
  source_address_prefix      = "*"
  destination_address_prefix = "*"
  }
}
